<style type="text/css">
	.c_ciot, .i_ciot, .t_ciot {
    color: #DC1E3A;
  }

  .o_ciot {
  color: #4ECCD2;
}
</style>

<h1 class="title">Welcome to <span class="c_ciot">C</span><span class="i_ciot">I</span><span class="o_ciot">o</span><span class="t_ciot">T</span></h1>

<h2 class="subtitle"><span class="c_ciot">C</span>I&T <span class="i_ciot">I</span>nternet <span class="o_ciot">o</span>f<span class="t_ciot"> T</span>hings</h2>

<h3 class="topic">Documentation</h3>
You can find the documentation in github wiki page [<a href="https://github.com/ciandt-dev/CIOT/wiki" class="link">link</a>]

<h3 class="topic">Arduino</h3>
If you are using a arduino board to send informations to <span class="c_ciot">C</span><span class="i_ciot">I</span><span class="o_ciot">o</span><span class="t_ciot">T</span>, just install library [<a href="https://github.com/ciandt-dev/CIOT/tree/master/public/CiotClients" class="link">link</a>] on your arduino and check example file.
