// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: 'Raleway', sans-serif;
	font-size: 25;
}
.c_ciot, .i_ciot, .t_ciot {
	color: #d71f3c;
}
.o_ciot {
	color: #20bec6;
}
h1 {
	font-size: 60;
}
h2 {
	font-size: 40;
}
