<footer class="footer">
  <small>
    &copy; CI&amp;T 2014
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Doc", 'https://github.com/ciandt-dev/open-dojo/wiki/ciot', :target => "_blank" %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
